<!DOCTYPE html>
<!--
	Dimension by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <title>{% block title %}Léo Arthaud!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
            <link rel="stylesheet" href="{{ asset('assets/css/skills-bars.css') }}" />
            <noscript><link rel="stylesheet" href="{{ asset('/assets/css/noscript.css') }}" /></noscript>
        {% endblock %}
    </head>
    <body class="is-preload">
        {% block body %}{% endblock %}
        <!-- Scripts -->
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/browser.min.js') }}"></script>
        <script src="{{ asset('assets/js/breakpoints.min.js') }}"></script>
        <script src="{{ asset('assets/js/util.js') }}"></script>
        <script src="{{ asset('assets/js/main.js') }}"></script>
        <script src="{{ asset('assets/js/skills-bars.js') }}"></script>
        <!--<script src="{{ asset('assets/js/progressbar.js') }}"></script>-->

        {% block javascripts %}{% endblock %}
    </body>
</html>
